create table {{table_name}}(
   user_number INT NOT NULL AUTO_INCREMENT,
   user_firstname VARCHAR(100) NOT NULL,
   user_lastname VARCHAR(40) NOT NULL,
   user_age INT NOT NULL,
   user_id VARCHAR(6) NOT NULL UNIQUE,
   PRIMARY KEY ( user_number, user_id )
);
